@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:wdth,wght@75..100,100..800&display=swap');



.body_container {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* styles.module.css */
  .title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  .titleInput {
    width: 30%;
  }
  .paper {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .test-page {
    padding: 20px;
  }




  .header_container {
    border: 1px solid black;
    padding-right: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_images img {
    width: 90px;
    height: 90px;
    padding-top: 10px;
    margin-right: 20px;
  }

  .header_title p {
    color: blue;
    padding: 0;
    text-align: center;
  }

  .header_title .header_title_span1 {
    /*font-weight: 600;
    font-size: 70px;
    margin-bottom: -100px;*/
    font-weight: 600;
    font-size: 70px;
    vertical-align: top;
    margin-bottom: 0;
    line-height: 1;
  }

  .header_title .header_title_span2 {
    /*margin-top: -30px;*/
    vertical-align: top;
    margin-top: 0;
    line-height: 1
  }

  
  